.bg-image-settings {
    background-repeat: no-repeat;
    background-size: cover;
}

.filter {
    background-color: black;
    z-index: 1;
    opacity: .4;
}

.content {
    z-index: 2;
    overflow: hidden;
    height: 100vh;
    padding: 20vh;
}