body {
    /* background-image: url("imgs/landscape.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; */
    background-image: url("imgs/grass.jpg");
    background-repeat: repeat;
    background-size: 10%;
    background-attachment: fixed;
}

#night {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: midnightblue;
    opacity: 0;
    z-index: 3;
}

#farmer {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    width: auto;
    height: 20%;
    z-index: 2;
}

.empty {
    height: 50vh;
}

.empty * {
    position: relative;
    z-index: 2;
}

.skyObject {
    position: absolute;
    left: -23vw;
}

.object {
    height: 300px;
    width: 300px;
}

.initOffScreen {
    opacity: 0;
    left: -300px;
}

.initOnArea {
    position: relative;
    left: 300px;
}