.bg-image-settings {
    background-repeat: no-repeat;
    background-size: cover;
}

.filter {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: black;
    z-index: 1;
    margin: 0px -12px 0px -12px;
    opacity: .4;
}

.content-grid-center {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.content {
    z-index: 2;
}

.con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}